
crispy-bootstrap5==2026.3
cryptography==46.0.5
cssselect2==0.9.0
Cython==3.2.4
Django==6.0.2
django-crispy-forms==2.6
gunicorn==26.0.0
requests==2.32.5
pytz==2026.1.post1
pyzk==0.9
qrcode==8.2

tzdata==2025.3